@import '../globals.css';

.inputs {
  padding-bottom: 40px;
  padding-right: 20px;
}

.Prompt-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 30px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

.Prompt-form-content {
  margin-bottom: 1em;
  font-size: 18px;
  color: rgb(34, 34, 34);
}

.promptSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promptForm {
  width: 460px;
  height: 540px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  border-radius: 8px;
  background-color: white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-bottom: 30px;
}

.prompt-container {
  display: flex;
  background: hsl(155, 100%, 96%);
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}