@import '../globals.css';

#onboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    width: 100vw;
    height: 150vh;
    background: hsl(155, 100%, 96%);
  }

#onboard-main {
    width: 70%;
    height: 95%;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-bottom: 40px;
    border-radius: 8px;
    background-color: #fafafa;
  }
 
.custom-item img {
    /* height: 424px; */
}

#specialDiv {
    position: relative; width: 100%; height: 0; padding-top: 50%;
}

#specialImg {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    filter: brightness(150%) contrast(100%);
}

#logo {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    margin: auto;
}
