@import '../globals.css';

#onboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding-top: 0px;
    width: 100vw;
    height: 100vh;
    background: hsl(151, 81%, 81%);
} 

#onboard-main {
    width: 70%;
    height: 98%;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-bottom: 40px;
    border-radius: 25px;
    background-color: #fafafa;
}

#header {
    padding-bottom: 15px;
}

.carousel-item {
    border: 1px solid black;
  }

.ImgDiv {
    position: relative; width: 100%; height: 0; padding-top: 50%;
}

#slide-1-Img {
    filter: brightness(200%);
}

.customImg {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}

.text { 
    margin-top: 20px;
    font-family: "Signika Negative"; 
    font-size: 48px; 
    font-variant: small-caps;
    font-weight: 700; 
    line-height: 26.4px; 
    color: rgb(0, 105, 62);
}     

.caption-title {
    font-family: "Signika Negative";
    font-size: 25px;
    font-variant: normal;
    color: rgb(0, 105, 62);
}

.caption-text {
    font-family: "Signika Negative";
    font-size: 15px;
    font-variant: normal;
    color: black;
}

#slide-2-title {
   margin-bottom: 0em;
}

#slide-2-text {
    margin-bottom: -.5em;
}

#slide-3-text {
    margin-top: 1.5em;
    margin-bottom: 0em;
}

#slide-5-text {
    margin-bottom: 1em;
    font-size: 15px;
}

#logo {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    margin: auto;
}

#buttons {
    padding-top: 20px;
}

.row {
    margin-left: initial;
}

.signupButton{
     background: rgb(18, 138, 88);
}

.loginButton {  
    background: #867661;
}