.inputs {
    padding-bottom: 40px;
    padding-right: 20px;
  }
  
  .input {
    padding-bottom: 20px;
  }
  
  .dash-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 35px;
    color: rgb(34, 34, 34);
    font-weight: 800;
    border-bottom: 0.5px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 10px;
  }

  .dash-form-content {
    text-align: center;
    margin-bottom: 1em;
    font-size: 18px;
    color: rgb(34, 34, 34);
  }

  .NewProjButton {
    padding-right: 10px;
  }

  .authSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dash-form {
    width: 1000px;
    height: 700px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-bottom: 40px;
    border-radius: 8px;
    background-color: white;
  }

  .dash-container {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  