@import '../globals.css';

#tree-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background:  #daffeb;
}

#tree-wrapper {
    display: inline-flex;
    width: 95%;
    height: 95%;
    border: 4px solid black;
    background-color: white;
}

#treeLogo {
     max-width: 200px;
     max-height: 75px;
     min-width: 200px;
     min-height: 75px;
     padding-bottom: 7.5px;
 }

#saving {
    color: rgb(95, 23, 23);
    text-align: center;
}
/* TODO: move styles from other parts of the tree components to here */
